body {
  background-color: rgb(0, 0, 0);
  font-size: 16px;
}

label {
  font-size: 2rem;
  padding-right: 1rem;
  color: white;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: transparent; /* Remove o fundo branco */
  border: none;
  border-bottom: 2px solid white; /* Adiciona uma borda inferior branca */
  color: white;
  width: 4rem; /* Define a largura do input */
  text-align: center; /* Centraliza o texto no input */
  transition: border-bottom 0.3s ease; /* Adiciona uma transição suave para a borda inferior */
}

input:focus {
  border-bottom: 2px solid rgb(255, 0, 0); /* Muda a cor da borda inferior quando o input está em foco */
}

button {
  background-color: #ec0000;
  color: white;
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.1s ease;
  border-width: 0;
  box-shadow: 1px 5px 0 0 #5d0e0e;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 1px 9px 0 0 #5d0e0e;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0 0 #5d0e0e;
}

.timer {
  font-size: 15vw;
  text-align: center;
  color: white;
}

.input-container {
  margin: 2rem;
}

.align-inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
}

.img {
  text-align: center;
}
