body {
  background-color: rgb(28, 28, 28);
  font-size: 16px;
}

label {
  font-size: 2rem;
  padding-right: 1rem;
  color: white;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: transparent; /* Remove o fundo branco */
  border: none;
  border-bottom: 2px solid white; /* Adiciona uma borda inferior branca */
  color: white;
  width: 4rem; /* Define a largura do input */
  text-align: center; /* Centraliza o texto no input */
  transition: border-bottom 0.3s ease; /* Adiciona uma transição suave para a borda inferior */
}

input:focus {
  border-bottom: 2px solid rgb(255, 0, 0); /* Muda a cor da borda inferior quando o input está em foco */
}

button {
  font-size: 1.6rem;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  padding: 1.5rem 3rem;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
  margin: 1rem;
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
}

button:hover {
  background-color: rgb(200, 0, 0);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.5);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(255, 0, 0, 0.3);
}

.timer {
  font-size: 10vw;
  text-align: center;
  color: white;
}

.input-container {
  margin: 2rem;
}

.align-inputs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
}

.img {
  text-align: center;
}
